// Color Variables
$white: #fff;
$primary: #434d91;
$secondary: #E8411E;
$dark: #1f1b27;
$darkGray: #656363;

.layout {
  display: grid;
  grid-template-rows: 10rem 1fr 3rem;
  height: 100vh;
}

.sectionContainer {
  background: $white;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(375px, 1fr));
}

.sectionLeft {
  padding-left: 3rem;
  display: grid;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.mainImg {
  width: 85%;
  vertical-align: middle;
  animation: fadeIn ease 3s;
  -webkit-animation: fadeIn ease 3s;
  filter: drop-shadow(1px 1px 4px $darkGray);
  -webkit-filter: drop-shadow(1px 1px 4px $darkGray);
}
