// Color Variables
$white: #fff;
$primary: #434d91;
$secondary: #E8411E;
$dark: #1f1b27;
$darkGray: #656363;

.layout {
  display: grid;
  grid-template-rows: 8rem 1fr 4rem;
  height: 100vh;
}

.sectionContainer {
  display: grid;
  grid-template-columns: 2fr 1fr;

  @media screen and (max-width: 767px) {
    grid-template-columns: repeat(auto-fit, minmax(325px, 1fr));
  }
}

// .sectionLeft {
// }

// .sectionRight {
// }
