// Variable Declarations
$white: #fff;
$primary: #434d91;
$secondary: #E8411E;
$dark: #1f1b27;

.content {
  margin: auto 0;

  p {
    font-size: 2rem;
  }
}

.heading {
  font-size: calc(2.8rem + 2vw);
  color: $dark;
  line-height: 1.2;
  margin-bottom: 5rem;
  animation-duration: 2s;
  animation-name: slidein;
}

@keyframes slidein {
  from {
    margin-left: -100%;
    width: 300%;
  }

  to {
    margin-left: 0%;
    width: 100%;
  }
}

.highlight {
  border-bottom: 2px solid $secondary;
}